body {
    background-color: #000;
    color: #000;

    @include XLpc-width() {
        background-color: #000;
    }

    @include Lpc-width() {
        background-color: #000;
    }

    @include pc-width() {
        background-color: #000;
    }

    @include pad-width() {
        background-color: #000;
    }

    @include phone-width() {
        background-color: #000;
    }
}